@import "src/components/app/index";
@import "../../../styles/styles";

#root {
  .ant-list-item {
    height: 430px;
  }
  .ant-list-pagination {
    margin: 0;
  }
  .ant-pagination {
    li,
    button {
      background: @color-green;
      border: 1px solid @color-deep-green;
    }
    .ant-pagination-next:not(.ant-pagination-disabled),
    .ant-pagination-prev:not(.ant-pagination-disabled) {
      .ant-pagination-item-link {
        color: black;
      }
    }
    .ant-pagination-item {
      a {
        color: black;
      }
    }
    .ant-pagination-item-active {
      a {
        color: @color-deep-green;
      }
    }
  }
  .product-card-click {
    .animationCard();
    display: block;
  }

  .product-card {
    .ant-card:hover {
      button {
        .animationCard();
        display: block;
      }
    }
    button {
      display: none;
      opacity: 0;
    }
    .animationCard();

    .ant-typography {
      margin-bottom: @margin-sm;
    }
    .img {
      border-radius: 0;
    }
    margin-bottom: 117px;
  }
  h3 {
    margin-top: @margin-md;
  }
  @media only screen and (max-width: @screen-xs) {
    .product-card {
      margin-bottom: 0;
    }
    .ant-list-item {
      height: 330px;
    }
  }
}
